.slds_col_modified, [class*=slds_col_modified_padded], [class*=slds_col_modified--padded] {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		border: 1px solid black;
		padding: 25px;
	}
	
	.error_container{
		color: red;
		padding: 5px;
		text-align: center;
		font-size: 14px;
	}
	
@media (min-width: 1281px) {

.slds_grid_modified{
	display : flex;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
.slds_grid_modified{
	display : flex;
}

}


@media (min-width: 768px) and (max-width: 1024px) {

.slds_grid_modified{
	display : block;
}

}

@media (min-width: 320px) and (max-width: 767px) {
	.slds_grid_modified{
	display : block;
	
}

}

