	.disclaimer_link{
		margin-left: 194px;
		padding: 9px;
	}

	.disclaimer_label{
		color: $cc-color-blue;
		text-decoration: underline;
	}
	
	.disclaimer_message{
		width: 100%;
		margin-top: -8px;
		height: 32px;
		font-size: 12px;
		font-style: italic;
		font-weight: bold;
		font-family: sans-serif;
		border-radius: 4px;
		background-color: whitesmoke;
	} 
	
	.slds_modified_select_container{
	   position: relative;
		display: inline-block;
		width: 35%;
	}
	
	.slds_modified_input{
	    background-color: #fff;
		color: #16325c;
		border: 1px solid #d8dde6;
		border-radius: .25rem;
		width: 65%;
		transition: border .1s linear,background-color .1s linear;
		display: inline-block;
		padding: 0 1rem 0 .75rem;
		line-height: 1.875rem;
		min-height: calc(1.875rem + (1px * 2));
	}
	.slds_modified_input:active, .slds_modified_input:focus {
		outline: 0;
		border-color: #1589ee;
		width: 65%;
		background-color: #fff;
		box-shadow: 0 0 3px #0070D2;
	}
	
	.hide{
		display : none;
	}
   
